#home{
  background: -webkit-linear-gradient(135deg, #000, #333333);
    background: linear-gradient(135deg, #000, #fff);
    background-repeat:no-repeat;
  background-position: fill;
  position: absolute;
  width: 100%;
  height: 100%;
  border:15px solid #fff;
}